<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>Bekklog</title>
  <%= stylesheetTag("application.css") %>
  <meta name="csrf-param" content="authenticity_token"/>
  <meta name="csrf-token" content="<%= authenticity_token %>"/>
  <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
</head>
<body>
<header>
  <div class="px-3 py-2 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/"
           class="logo d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          Bekklog
        </a>

        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="<%= newItemsPath() %>" class="nav-link <%= if (creationEnabled) { return "text-white" } else { return "disabled" } %>">
              <i class="bi d-block mx-auto bi-clipboard2-plus nav-icon"></i> Add
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class="container mt-3">
  <%= partial("flash.html") %>
  <%= yield %>
</div>

<%= javascriptTag("application.js") %>
</body>
</html>
